body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

.number-table {
    display: flex;
    flex-wrap: wrap;
}

.number-table>.number-table-el {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #EEE;
    border: 1px solid white;
}

.number-table-el.skip {
    color: white;
    background: #607D8B;
}
