body {
    color: #888;
    font-family: Cambria, Georgia;
}
.help {
    color: inherit;
    margin: 0 10px;
    border-radius: 50%;
    padding: 0 6px;
    background: #EEE;
    text-decoration: none;
    font-size: 50%;
    vertical-align: super;
}
.help.on {
    color: white;
    background: #607D8B;
}
.help:hover {
    color: white;
    background: #CFD8DC;
}
.background-info {
    padding: 0px 20px;
    margin: 0px;
}
input[text] {
    border: 0px;
    border-bottom: 1px solid #EEE;
    padding: 5px 4px 0px;
    width: 50px;
    text-align: center;
    outline: none;
}
.control-bar {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.control-bar-item {
    margin-right: 50px;
}
.control-bar-item-error-info {
    color: #FF3333;
}
.number-table {
    display: flex;
    flex-wrap: wrap;
}
.number-table>.number-table-el {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #EEE;
    border: 1px solid white;
}
.number-table-el.skip {
    color: white;
    background: #607D8B;
}
